// On gére 3 largeurs : Extra Small (définition par défaut)
// la largeur max est fixée à 991px

// Small devices (landscape phones, 576px and up)
$small-device: 576px;
// Medium devices (tablets, 768px and up)
$medium-device: 768px;

.box {
  max-width: 991px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 100vh;
}

.bar {
  text-align: right;
  height: 20px;
}

.close {
  border: none;
  background-color: white;
  color: #FEAD54;
  font-size: 36px;
  margin-right: 20px;
}

@media (min-width: $small-device) {
}

@media (min-width: $medium-device) {
  .box {
    max-width: $medium-device;
  }

  .close {
    font-size: 48px;
  }
}
