// Large devices (tablets, desktop, 992px and up)
$large-device: 992px;

.box {
  max-width: 991px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 100vh;
}

.bar {
  text-align: right;
  height: 20px;
}

.close {
  border: none;
  background-color: white;
  color: #FEAD54;
  font-size: 36px;
  margin-right: 20px;
}

@media (min-width: $large-device) {
  .close {
    font-size: 48px;
  }
}
